---
import Section from "../Section.astro";
import { certificates } from "@cv";
import "../sections/styles/theme.css";
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(({ name, date, issuer, url }) => {
        return (
          <li>
            <article>
              <header>
                <h3>
                  <a href={url} title={`Ver ${name}`} target="_blank">
                    {name}
                  </a>
                </h3>
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }

  article h3 {
    font-weight: 500;
    color: var(--color-text-primary);
  }

  article a {
    color: var(--color-text-primary);
  }

  article a:hover {
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--spacing-xsmall);
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
